.App {
  text-align: center;
}

.board {
  margin: 20px auto;
  align-items: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.square {
  background: #ececec;
  border: 1px solid #7a7a7a;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
